<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a [routerLink]="['/recipes']" routerLinkActive="router-link-active"><span>Excilys Cocktail</span></a>
        <span class="example-spacer"></span>
        <a [routerLink]="['/recipes/create']" routerLinkActive="router-link-active">
          <mat-icon
            class="example-icon"
            aria-hidden="false"
            aria-label="Example user verified icon">
            add_circle_outline
          </mat-icon>
        </a>
    </mat-toolbar-row>
</mat-toolbar>
